//TEMPLATE
$primary : hsl(346,92,43);
$secondary : hsl(81,47,32);
$light : hsl(0,0,95);
$neutral : hsl(0,0,77);
$dark : hsl(0,0,21);

//RESET
button {
    background-color: transparent;
    border: none;
}
button:focus {
    outline: none;
}
h1, h2 {
    margin: 0;
    padding: 0;
}
//botstrap
.border-bottom {
    border-bottom: 1px solid $primary!important;
}
//genericos
.focus {
    background-color: $neutral;
    color: $primary;
}
//ELEMENTOS
body {
    font-size: 14px;
    line-height: 21px;
    font-family: 'Space Mono', monospace;
    background-color: $secondary;
}

h1 button { //botao pai
   font-size: 26px!important;
   line-height: 39px!important;
   font-weight: 700!important;
   background-color: $primary;
   color: $neutral;
}
h1 button:hover, h2 button:hover {
    color: $light; 
}


h2 button { //botao filho
    font-size: 21px!important;
    line-height: 31px!important;
    background-color: $neutral;
    color: $primary;
}
.conteudo {
    background-color: $neutral;
    color: $dark;
}
h3 {
    font-size: 26px!important;
    line-height: 39px!important;
    font-weight: 700!important;
}

.social-media {
    font-size: 18px;
}

h4 { //subtitulo
    font-size: 16px;
    line-height: 24px;
}

.contato {
    background-color: $dark;
}
.contato h2 {
    font-size: 26px!important;
    line-height: 39px!important;
    font-weight: 700;
    color: $light;
}
.contato p {
    color: $light;
}
.contato input {
    background-color: $neutral;
}
// .filho, .conteudo {
//     display: none;
// }


// space mono 400 700 
// root //fechar //footer //p //breadcrumb
// font-size: 14px;
// line-height: 21px;

/*ACORDEAO*/
//botao pai //COntato 
//font-size: 34px;
//line-height: 50px;
//botao filho
//font-size: 21px;
//line-height: 31px;

//titulo seção
//font-size: 26px;
//line-height: 39px;

//data
//font-size: 18px;
//line-height: 27px;

//participe
//font-size: 17px;
//line-height: 25px;

//subtitulo //input[text] //label
//font-size: 16px;
//line-height: 24px;

//botao enviar
//font-size: 20px;
//line-height: 30px;




// ANIMA IMG HOME
.img-destacada-home, .img-destacada {
    animation: hue 35s infinite;
  }
  
  @keyframes hue {
    0%, 100%  { filter: hue-rotate(0deg); }
    0% { filter: hue-rotate(360deg); }
  }






















