.bg-secondary90 {
  background-color: rgba(93, 120, 43, 0.9);
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

button {
  background-color: transparent;
  border: none;
}

button:focus {
  outline: none;
}

a:focus, a:hover {
  text-decoration: none;
  color: #d30938;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

input {
  border: none;
}

input:hover, input:focus {
  outline: none;
}

.border-bottom {
  border-bottom: 1px solid #d30938 !important;
}

.border-top {
  border-top: 1px solid #d30938 !important;
}

.focus {
  background-color: #c4c4c4;
  color: #d30938 !important;
  border: 1px solid #d30938;
}

h2 .focus {
  border: none !important;
}

.button {
  background-color: #d30938;
  color: #f2f2f2;
  padding: 0.625rem 1.25rem;
  font-size: 1.25rem;
  line-height: 1.8125rem;
}

a.button:focus, a.button:hover {
  text-decoration: none;
  background-color: #c4c4c4;
  border: 1px solid #c4c4c4;
}

body {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-family: 'Space Mono', monospace;
  background-color: #5d782b;
}

.cruz-g {
  width: 1.0625rem;
  height: auto;
}

.cruz-p {
  width: 0.9375rem;
  height: auto;
}

h1 {
  border-bottom: 1px solid #d30938 !important;
}

h1 button {
  font-size: 2.125rem !important;
  line-height: 3.1875rem !important;
  font-weight: 700 !important;
  background-color: #d30938;
  color: #c4c4c4;
  padding: 1.125rem 3.125rem 1.125rem 1.125rem;
}

h1 button:hover, h2 button:hover {
  color: #f2f2f2;
}

h2 {
  margin-right: 1.125rem;
}

h2 button {
  font-size: 1.375rem !important;
  line-height: 2.0625rem !important;
  font-weight: bold !important;
  background-color: #d30938;
  color: #f2f2f2;
  border: 1px solid #c4c4c4;
  padding: 1.375rem 3.125rem 1.375rem 1.125rem;
}

.conteudo {
  background-color: #c4c4c4;
  color: #363636;
  margin-right: 1.125rem;
}

@media screen and (min-width: 768px) {
  .conteudo {
    padding-bottom: 5.625rem;
  }
}

h3 {
  font-size: 1.75rem !important;
  line-height: 2.5625rem !important;
  font-weight: 700 !important;
}

h4 {
  font-size: 1.0625rem !important;
  line-height: 1.5625rem !important;
  font-weight: 700 !important;
}

blockquote, label {
  font-size: 1.125rem;
  line-height: 1.9375rem;
}

p {
  font-size: 1rem;
  line-height: 1.6875rem;
}

a {
  color: #d30938;
}

input {
  padding: 0.625rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}

.nav-topo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.logo {
  width: 5.3125rem;
  height: auto;
  margin: 1.125rem;
}

.site {
  position: relative;
}

.logo-element-big {
  width: 34%;
  margin-left: 23%;
  height: auto;
  position: relative;
  z-index: 1;
}

.img-destacada-home {
  background-image: url("img/img-destacada-home.jpg");
  background-attachment: fixed;
  background-size: contain;
}

.social-media-home {
  position: absolute;
  z-index: 2;
  bottom: 1.125rem;
  right: 25%;
  font-size: 42px;
}

.barra-horizontal-verde {
  background-color: #5d782b;
  width: 100%;
  height: 2.25rem;
  position: relative;
  z-index: 1;
}

.conteudo-post {
  padding: 0 1.0625rem;
}

.wrapper {
  padding: 0 0 1.4375rem 0;
}

.img-destacada {
  padding: 0;
  position: relative;
}

.element-big-post {
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .conteudo-gutenberg {
    padding: 0 2.1875rem !important;
  }
}

.detalhe {
  position: absolute;
  top: -0.8125rem;
  right: -0.8125rem;
}

.wrapper-clickable-post {
  padding-top: 1.125rem;
  padding-bottom: 2.25rem;
}

.titulo-secao {
  padding-top: 0.2rem;
}

.saiba-mais {
  color: #d30938;
}

.saiba-mais span {
  margin-right: 0.6875rem;
}

.cruz-primaria {
  width: 0.75rem;
  height: auto;
}

.contato {
  background-color: #363636;
  padding: 2.25rem 1.125rem 2.5625rem;
  margin-bottom: 2.5rem;
}

.contato h1 {
  color: #c4c4c4;
  border: none !important;
  padding-bottom: 1.25rem;
}

.contato p {
  color: #f2f2f2;
  padding-bottom: 1.25rem;
  margin-bottom: 0;
}

.contato label {
  color: #d30938;
}

.contato input {
  background-color: #c4c4c4;
}

.footer {
  background-color: #363636;
  color: #f2f2f2;
}

.footer address {
  font-size: 1.75rem;
  padding: 1.875rem 1.875rem 0.9375rem 0;
}

.footer p {
  padding: 0 0 0.9375rem 1.875rem;
  width: 15rem;
}

/*ACORDEAO*/
body {
  -webkit-animation: hue 10s infinite;
          animation: hue 10s infinite;
}

@-webkit-keyframes hue {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  0% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes hue {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  0% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */